body{

    background-color: rgb(157, 36, 36);
}
.text1{
    text-transform:capitalize;
    margin-left: 150px;
    align-content:center;
    font-size: large;
}
.cartao{
    box-shadow:20px;
    border-radius: 30px;
    padding-left: 80px;
    background-color: rgb(255, 255, 255);
}
img{
    border-radius: 50%
}
.item{
    margin-bottom: 2px;
}